.test{
  background-color: red;
}

.pCards{
  margin-top: -80px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}
.YouTubeComponent{
  margin-bottom: 200px;
  align-items: center;
}
/* buttons */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


button{
  text-align: center;
  width: 180px;
  
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #414042;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 10px;
  background: transparent;
  text-transform:uppercase;
  font-weight:bold;
}

span{
  display: block;
  padding: 15px 20px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #A5720D;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #A5720D;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}
/*----- button 1 -----*/
.btn-1{
  color: white;
  font-size: bold;
  left: 50%;
  margin-left: -90px;
}
.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}
/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 100px;

}
.column-2{
  padding-top: 200px;
}

.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #fff;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%;
}

.card > img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background:linear-gradient(-135deg, #5D6D7E,#282c34);
}

.card-color-1 {
  background: linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}
.card-color-2 {
      background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, gold, transparent),
        linear-gradient(to top right, blue, transparent);
  
}


/* The cover (expanding background) */
.cover {
  position: fixed;
  background: #EB5160;
  z-index: 100;
  transform-origin: 50% 50%;
}

/* 
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }
  
  .column-1 {
    padding-top: 0px;
  }
  
  .open-content img {
    margin-top: 40px;
  }
}